@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 50%;
  margin-right: 15px;
  margin-top: 0px;
  cursor: pointer;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 50%;
  margin-right: 15px;
  margin-top: 0px;
  cursor: pointer;
}

label {
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
  margin-top: 10px;
  color: #17181b;
}

.custom-input input {
  font-size: 16px;
}

.custom-input input {
  border: 1px solid #bdc1c6;
  border-radius: 7px;
  height: 50px;
  width: auto;
  padding-left: 20px;
}

.custom-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  white-space: nowrap;
}

.error-message {
  color: red;
  font-size: 0.875em;
}

.input-error input {
  border: 1px solid red !important;
}
