.product-screen {
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -8%;
  }
  
  .header-left,
  .header-center,
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-left {
    flex: 1;
  }
  
  .header-center {
    flex: 2;
    justify-content: center;
    margin: 10% 20%;
  }
  
  .header-right {
    display: flex;
    gap: 15px;
    margin-right: 5%;
  }
  .search-bar {
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 14px;
  }
  
  .complete-btn {
    background-color: white; /* Fundo branco */
    color: #A50F34; /* Cor do texto */
    padding: 10px 20px; /* Tamanho do botão */
    cursor: pointer;
    border-radius: 15px; /* Bordas arredondadas */
    position: relative;
    transition: all 0.3s ease-in-out;
    border: 3px solid transparent; /* Borda inicial transparente */
    border-image: linear-gradient(to right, #DD1100, #A50F34) 1; /* Gradiente na borda */
  }
  
  
  .add-product-btn {
    background-color: white;
    color: white;
    border: 0px solid transparent; 
    background-image: linear-gradient(to right, #DD1100, #A50F34); 
    padding: 15px 20px; 
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .product-list {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin-top: -5%;
    margin-left: -5%;
    padding: 0px 100px;
    height: 100px;
  }
 

  .product-card:hover {
    transform: scale(1.05); 
  }