.custom-button {
  height: 50px;
  width: 100%;
  background: linear-gradient(90.71deg, rgba(221, 17, 0, 0.7) 19.5%, #A50F34 100%);
  border-radius: 7px;
  color: #fff;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
